/*  -------------
    Animations...
    ------------- */

@keyframes dangling {
	0% {
		transform: rotate(calc(var(--end-rotate-angle) * 2));
		transform-origin: 50% 10%;
	}

	10% {
		transform: rotate(calc(var(--end-rotate-angle) * -2));
		transform-origin: 50% 10%;
	}

	20% {
		transform: rotate(calc(var(--end-rotate-angle) * 1.75));
		transform-origin: 50% 10%;
	}

	30% {
		transform: rotate(calc(var(--end-rotate-angle) * -1.75));
		transform-origin: 50% 10%;
	}

	40% {
		transform: rotate(calc(var(--end-rotate-angle) * 1.25));
		transform-origin: 50% 10%;
	}

	50% {
		transform: rotate(calc(var(--end-rotate-angle) * -1.25));
		transform-origin: 50% 10%;
	}

	60% {
		transform: rotate(calc(var(--end-rotate-angle) * .75));
		transform-origin: 50% 10%;
	}

	70% {
		transform: rotate(calc(var(--end-rotate-angle) * -.75));
		transform-origin: 50% 10%;
	}

	80% {
		transform: rotate(calc(var(--end-rotate-angle) * .5));
		transform-origin: 50% 10%;
	}

	90% {
		transform: rotate(calc(var(--end-rotate-angle) * -.25));
		transform-origin: 50% 10%;
	}

	100% {
		transform: rotate(var(--end-rotate-angle));
		transform-origin: 50% 10%;
	}
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(10vh);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scroll-in {
	0% {
		opacity: 0;
		transform: scale(0, 1);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes Ken-Burns-in {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

/*	------------------------------------------------------
	"Wipe" transition from https://www.transition.style...
	------------------------------------------------------ */

@keyframes wipe-in-bottom-right {
	from {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0%);
	}

	to {
		clip-path: polygon(-0% 0%, 200% 0, 0 200%, 0 -0%);
	}
}
