#addresses {
	display: flex;
	flex-flow: row;
	align-items: start;
	justify-content: center;
	gap: 5vw;
}

#addresses a {
	text-decoration: none;
}

#addresses a:hover {
	font-weight: bold;
}

#contact {
	display: flex;
	flex-flow: column;
	gap: 3vh;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact textarea {
	border-radius: .5vh;
	padding: min(10px, 1vh) min(10px, 1vw);
	width: 95%;
	float: right;
	font-size: 1rem;
	font-family: var(--client-font-family);
}

#contact input[type=button], #contact button {
	background-color: var(--bg-colour);
	color: var(--text-colour);
	margin: 0 2rem;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	padding: .5rem;
	border-radius: 2rem;
	border: solid 2px currentColor;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

#contact input[type=button] p, #contact button p {
	background: transparent;
	padding: 0;
	margin: 0;
}

#contact input[type=button]:hover, #contact button:hover {
	background-color: var(--text-colour);
	color: var(--bg-colour);
}

#contact input[type=checkbox] {
	background-color: var(--bg-colour);
	accent-color: var(--light-colour);
}

#contact input[type=checkbox]+label {
	display: inline;
}

#contact input:required+label::after,
#contact textarea:required+label::after {
	content: " *";
}

#contact>span {
	display: flex;
	flex-flow: column-reverse;
}

#contact>span.checkboxes {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 2vh;
}

#contact .submit-confirm {
	background-color: var(--light-colour);
	color: var(--light-text);
	transition: all var(--transition-duration-short) ease;
	grid-template-columns: 3fr 2fr;
}

#contact .submit-confirm-para {
	height: 100%;
	width: 100%;
	background-color: transparent;
	background-image: var(--use-image);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 8;
	scale: 2.5;
}

/*	The reset button was primarily to make testing easier. Make visible if needed... */

#contact input[type="reset"],
#contact #reset {
	display: none;
}

.contact-grid {
	display: grid;
	grid-template-columns: 1fr 5fr;
	column-gap: 2vw;
	row-gap: 2rem;
}

.hours-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 1vw;
	row-gap: 1vh;
}

.two-column-container:nth-child(2n) {
	order: -1;
}
