/*-----------------------------
  Header: site navigation, etc.
  ----------------------------- */

header {
  position: fixed !important;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: rgba(var(--bg-colour-RGB), 0.6);
  transition: background-color var(--transition-duration-short);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
  min-height: 0;
  min-width: 0;
}

header:hover {
  background-color: rgba(var(--bg-colour-RGB), 1);
}

header a {
  text-decoration: none;
}

.header-stick {
  background-color: rgba(var(--bg-colour-RGB), 1);
  box-shadow: 0rem .3rem 1rem .3rem rgba(var(--text-colour-RGB), .1);
  border-bottom: 3px solid;
  border-image: var(--use-border-image);
}

#header-logo {
  background: url("../images/logos/Avalon-Adventures-Transparent.png"), var(--bg-colour);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: var(--header-height);
  width: var(--header-height);
  scale: 2;
  transform: translate(30%,calc(var(--header-height) * .3));
  transition: all var(--transition-duration-short) ease;
  border-radius: 50%;
  justify-self: start;
}

#header-logo:hover {
  scale: 3;
  transform-origin: 40% 40%;
}

#hamburger-menu {
  opacity: 0;
  pointer-events: none;
  border: none;
}

#main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

#main-nav > li {
  position: relative;
  display: inline-block;
  width: 12vw;
  min-width: 8rem;
  line-height: var(--header-height);
}

#main-nav > li > a > span {
  text-decoration: underline 3px currentColor;
  text-decoration-color: rgba(var(--text-colour-RGB),0);
  text-underline-offset: 2rem;
  transition: text-underline-offset var(--transition-duration-short), text-decoration-color var(--transition-duration-short);
}

#main-nav > li > a:hover > span {
  font-weight: normal;
  text-decoration: underline 3px currentColor;
  text-decoration-color: rgba(var(--text-colour-RGB),1);
  text-underline-offset: .5rem;
}

#main-nav li a {
  position: relative;
  top: 0;
}

#main-nav li>a:not(:only-child):after {
  display: inline;
  content: " \25bc";
}

#main-nav ul {
  display: none;
  position: absolute;
  top: var(--header-height);
  margin: 0;
  padding: 0;
}

#main-nav li:hover ul {
  height: auto;
  display: block;
  transition: all var(--transition-duration-short) ease;
}

#main-nav ul li {
  background-color: var(--bg-colour);
  position: relative;
  text-align: left;
  height: auto;
  width: 20rem;
  padding: .5rem;
  box-shadow: 1px 1px 3px var(--text-colour);
  line-height: normal;

}

#scroll-to-top,
#scroll-to-bottom {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 6vw;
  display: block;
}

#scroll-buttons {
  display: none;
}

#site-nav {
  height: 100%;
}

body.home li.home,
body.about li.about,
body.contact li.contact,
body.notes li.notes,
body.brewery-crawl li.brewery-crawl,
body.culture-package li.culture-package,
body.ferryland li.ferryland,
body.hiking li.hiking,
body.whale-watching li.whale-watching {
  text-decoration: underline currentColor;
  text-decoration-color: gray;
  text-underline-offset: .5rem;
  pointer-events: none;
}

body.home li.home span,
body.about li.about span,
body.contact li.contact span,
body.notes li.notes span,
body.brewery-crawl li.brewery-crawl span,
body.culture-package li.culture-package span,
body.ferryland li.ferryland span,
body.hiking li.hiking span,
body.whale-watching li.whale-watching span {
  color: gray;
}

/*-------------------------------------------
	Footer: land acknowledgement, media, etc...
	------------------------------------------- */

footer {
  width: 100vw;
  height: auto;
  margin-top: 2rem;
}

#copyright {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1vw;
  justify-content: center;
  align-items: stretch;
  font-size: var(--font-size-small);
  margin-bottom: 1vh;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0)) 1;
}

#footer-fair-dealing {
  text-align: left;
}

#footer-land-acknowledgement {
  text-align: right;
}

#footer-media-links,
#footer-media-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#social-media {
  width: 100%;
  left: 0;
  ;
  background-color: rgba(var(--bg-colour-RGB), .9);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-image: var(--use-border-image);
}