.album {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	column-gap: 1vw;
	row-gap: 1vh;
	align-items: center;
	justify-content: space-evenly;
}

.big-text {
	font-size: var(--font-size-titanic);
	line-height: var(--line-height-titanic);
	margin: var(--font-margin-titanic);
	font-weight: bold;
}

.blankspace {
	height: 3vh;
	width: 2vw;
}

.blankspace::before {
	content: " ";
	visibility: hidden;
}

.brspace {
	background: transparent;
	content: "";
	display: block;
}

.centered {
	position: absolute;
	display: inline;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.checkboxes {
	display: grid;
	grid-template-columns: 1fr 5fr;
	column-gap: 0;
}

.citation-watermark {
	display: block;
	opacity: .8;
	position: absolute;
	top: 90%;
	width: 100%;
	text-align: center;
	font-size: var(--font-size-normal);
	color: white;
	margin: 0;
	z-index: 2;
	background-color: rgba(var(--dark-text-RGB),.8);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	border-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0)) 1;
}

.citation-watermark::after {
	content: var(--citation-text);
}

.citation-watermark::before {
	position: relative;
	display: inline-block;
	content: "";
	width: 4%;
	min-height: 1rem;
	min-width: .75rem;
	background-image: url("../images/camera.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
}

.citations-collapsible {
	display: block;
	width: 100%;
	margin-top: 1rem;
	padding: 1rem 0;
	border: 2px solid;
	border-radius: 1rem;
}


.citations-collapsible-label {
	display: block;
	width: 100%;
	padding-inline: 1rem;
}

.citations-collapsible-label::before {
	content: "\25bc ";
	display: inline-block;
	vertical-align: middle;
	margin-right: .5rem;
	transform: rotate(-90deg);
	transition: transform var(--short-transition-duration) linear;
}

.citations-collapsible-content {
	margin: 0;
	padding-inline: 1rem;
	max-height: 0;
	overflow: hidden;
}

.citations-collapsible-content .polaroid {
	box-shadow: 0 .6rem .5rem rgba(0, 0, 0, 0.3);
}

.citations-collapsible-content ul {
	padding: 0;
}

.citations-collapsible-content li a {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
}

.detail-box {
	width: 100%;
	height: 100%;
	min-height: 30vh;
	padding: 1rem 0;
	margin: 1rem 0;
	;
	border-radius: 1rem;
}

.detail-box .in-frame {
	width: 90%;
	min-width: 10vw;
	max-width: 20vw;
	box-shadow: 0 .6rem .5rem rgba(0, 0, 0, 0.3);
}

.detail-box .no-frame {
	display: inline-block;
	background-image: var(--use-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 1 / 1;
	width: 99%;
	min-width: 10vw;
}

.detail-box .woodframe {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1);
}

.dangling {
	--end-rotate-angle: 5deg;
	animation: dangling calc(3 * var(--long-transition-duration));
	transform-origin: 50% 10%;
	transform: rotate(var(--end-rotate-angle));
}

.dangling:hover {
	transition: all var(--short-transition-duration) var(--transition-timing-function);
	transform: rotate(0deg) !important;
}

.pic-plus-desc {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: "desc pic";
	column-gap: 3vw;
}

.pic-plus-desc-desc, .slides-plus-desc-desc {
	grid-area: desc;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.pic-plus-desc-pic, .slides-plus-desc-pic {
	grid-area: pic;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-box:nth-of-type(2n) .dangling {
	--end-rotate-angle: -5deg;
}

.detail-box:nth-of-type(2n) .pic-plus-desc,
.detail-box:nth-of-type(1n) .pic-plus-desc:nth-of-type(2n) {
	grid-template-columns: 2fr 3fr;
	grid-template-areas: "pic desc";
}

.detail-box:nth-of-type(2n) .subheader {
	text-align: right;
}

.disappear {
	visibility: hidden;
}

.scroll-in {
	animation: scroll-in var(--long-transition-duration);
}

.fairuse {
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}

.fixed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, rgba(var(--bg-colour-RGB),.5), rgba(var(--bg-colour-RGB),.5)), var(--use-image);
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	z-index: -1;
}

.flexy {
	display: flex;
	flex-flow: row wrap;
	column-gap: 2vw;
	row-gap: 2vh;
	align-items: center;
	justify-content: center;
}

.full-viewport {
	position: relative;
	height: 100vh;
	width: 99vw;
}

.true-hero {
	position: relative;
	top: 0;
	left: 0;
	width: 99vw;
	height: auto;
}

.hero-full-page {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

.hero-novideo {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: var(--use-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 4vw;
}

.hero-splash {
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--use-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 3vw;
}

.hero-static {
	position: relative;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	height: max-content;
	background: transparent;
	background-clip: padding-box;
	text-align: center;
	overflow: hidden;
	background-image: var(--use-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
/*	display: flex;
	flex-flow: column;
	gap: 0;
	align-items: center;
	justify-content: space-evenly;*/
}

.xxxhero-static::before {
	position: absolute;
	background-image: var(--use-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.hero-static,
.hero-full-page {
	border-top: 1px solid;
	border-bottom: 3px solid;
	border-image: var(--use-border-image);
}

main .true-hero,
main .hero-static,
main .hero-full-page {
	margin-left: calc(-1 * var(--main-content-left-margin));
}

.hero-video {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
	margin-inline: .5rem;
}

.left-content {
	display: block;
}

.link-anchor {
	display: block;
	height: var(--header-height);
	margin-top: calc(-1 * var(--header-height));
	visibility: hidden;
}

.media-link {
	background: var(--use-image);
	background-size: cover;
	height: clamp(32px, 2.5vw, 128px);
	width: clamp(32px, 2.5vw, 128px);
}

.mixed-caps {
	text-transform: uppercase;
}

.mixed-caps:first-letter {
	font-size: larger;
}

/* These class names exists only to serve JavaScript functions; do not activate...
.fullscreen {
}
.modal-container {
} */

.modal-pic.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: var(--use-image), var(--bg-colour);
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	z-index: 11;
	transition: all var(--short-transition-duration) var(--transition-timing-function);
}

.modal-pop {
	position: fixed;
	width: 80vw;
	min-width: 300px;
	height: 100vh;
	min-height: 300px;
	top: 0;
	left: 0;
	margin: 0;
	background-color: var(--bg-colour);
	color: currentColor;
	text-align: left;
	padding-inline: 10vw;
	border-color: var(--text-colour);
	z-index: 11;
	transition: all var(--short-transition-duration) var(--transition-timing-function);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.newspaper-layout {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "big-side thin-side";
	column-gap: 2vw;
}

.newspaper-big {
	grid-area: big-side;
	width: 95%;
	padding-inline: 2vw;
	border-left: 5px solid var(--light-colour);
}

.newspaper-thin {
	grid-area: thin-side;
	border-left: 5px solid var(--medium-colour);
	padding-left: 1rem;
}

.sticky {
	position: sticky;
	top: calc(1rem + var(--header-height));
}

.newspaper-thin ul {
	margin-left: 0;
}

.noscroll {
	overflow: hidden;
}

.one-column {
	background-color: var(--bg-colour);
	width: 80%;
	min-width: 50vw;
	margin: 1rem 0 1rem 10%;
	padding: 2rem 2vw 2rem 2vw;
	border-radius: 2rem;
}

.paused {
	background-image: url("../images/paused-text.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}

.woodframe {
	display: inline-block;
	position: relative;
	background-color: darkolivegreen;
	aspect-ratio: 1 / 1;
	height: auto;
	padding: 0;
	margin: 1rem 0;
	border-width: .5px;
	border-image-source: url("../images/wooden-rectangular-3d-photo-frame.svg");
	border-image-slice: 10% 10%;
	border-image-width: 1rem;
	border-image-outset: 1rem;
	border-image-repeat: round;
}

.woodframe::before {
	display: inline-block;
	content: "";
	aspect-ratio: 1 / 1;
	height: auto;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	/*	Vintage effect... */
	background-image:
		radial-gradient(ellipse, #0000, #0007),
		linear-gradient(0deg, #9725, #9725),
		url("../images/noise.png"),
		var(--use-image);
	background-size: auto, auto, auto, cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(0.03em) saturate(0.9) contrast(1.5) brightness(1.2);
}

.woodframe:hover::before,
.woodframe:focus-within::before {
	background-image: var(--use-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: none;
}

.baroqueframe {
	display: inline-block;
	position: relative;
	background-color: darkolivegreen;
	aspect-ratio: 4 / 3;
	height: auto;
	padding: 0;
	margin: 1rem 0;
	border-width: .5px;
	border-image-source: url("../images/baroque-frame.svg");
	border-image-slice: 10% 10%;
	border-image-width: 1rem;
	border-image-outset: 1rem;
	border-image-repeat: round;
}

.baroqueframe::before {
	display: inline-block;
	content: "";
	aspect-ratio: 4 / 3;
	height: auto;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	/*	Vintage effect... */
	background-image:
		radial-gradient(ellipse, #0000, #0007),
		linear-gradient(0deg, #9725, #9725),
		url("../images/noise.png"),
		var(--use-image);
	background-size: auto, auto, auto, cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(0.03em) saturate(0.9) contrast(1.5) brightness(1.2);
}

.baroqueframe:hover::before,
.baroqueframe:focus-within::before {
	background-image: var(--use-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: none;
}

.polaroid {
	display: inline-block;
	position: relative;
	background-color: whitesmoke;
	aspect-ratio: 1 / 1;
	height: auto;
	padding: 0;
	border: 1rem solid white;
	border-radius: 1%;
	border-bottom: 4rem solid white;
	font-family: "Comic Sans MS", "Comic Sans", "Brush Script MT", cursive;
	filter: sepia(.4) blur(0.04rem) saturate(.9) contrast(1.05) brightness(1.1);
}

.polaroid::before {
	display: inline-block;
	background-image: var(--use-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	aspect-ratio: 1 / 1;
	height: auto;
	width: 99%;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	filter: none;
}

.polaroid::after {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	content: attr(data-polaroid-caption);
	position: absolute;
	color: darkred;
	font-size: var(--caption-font-size);
	top: 100%;
	width: 100%;
	height: 24%;
	/*	white-space: nowrap;*/
	text-overflow: ellipsis;
	z-index: 2;
}

.polaroid:hover,
.polaroid:focus-within {
	filter: none;
}

.rss-feed {
	color: currentColor;
	background-color: transparent;
}

.spacebr {
	display: inline;
}

.spacebr::before {
	content: " ";
	white-space: pre;
}

.standout-text {
	color: var(--light-text);
	filter: drop-shadow(0px 0px 2px black);
	text-shadow: 0em 0em 0.3em rgba(var(--dark-colour-RGB), 0.4);
	border: none;
	border-radius: 1em;

}

.subheader {
	display: block;
	width: 100%;
	border-bottom: solid;
	font-size: var(--font-size-large);
	font-weight: bold;
	margin-bottom: .5rem;
}

.two-column {
	width: 100vw;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
	margin-bottom: 3vh;
}

.two-column-container {
	min-width: 45vw;
	width: 45vw;
	max-width: 45vw;
}

.user-directions {
	width: 100%;
	text-align: center;
}

.warning {
	font-size: var(--font-size-small);
	font-style: italic;
	color: red;
}