/*  -------------------------------------------------------------------
    Image classes:

    When an image is needed in an element (especially as a background),
    add the appropriate class; other classes refer to the variable when
    determining what image to paint.

    Image class names should be descriptive. Use upper-camel case ids
    for proper nouns, lower-case hyphenated ids for everything else.

    Store names in alphabetical order.
    ------------------------------------------------------------------- */

.Avalon1 {
	--use-image: url("../images/Avalon1.jpg");
	--citation-text: "Trip Advisor, Beachwalker4955";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d4131883-Reviews-Colony_of_Avalon-Ferryland_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/4131883/703815555:p/?albumid=101&type=0&category=101";
}

.Avalon2 {
	--use-image: url("../images/Avalon2.jpg");
	--citation-text: "Trip Advisor, Astrokeener";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d4131883-Reviews-Colony_of_Avalon-Ferryland_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/4131883/703815555:p/?albumid=101&type=0&category=101";
}

.Avalon3 {
	--use-image: url("../images/Avalon3.jpg");
	--citation-text: "Trip Advisor, Colony of Avalon";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d648416-Reviews-Ferryland-Ferryland_Newfoundland_Newfoundland_and_Labrador.html";
}

.Avalon4 {
	--use-image: url("../images/Avalon4.jpg");
	--citation-text: "Trip Advisor, GlobeTrotterNL1";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d4131883-Reviews-Colony_of_Avalon-Ferryland_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/4131883/703815555:p/?albumid=101&type=0&category=101";
}

.Baccalieu-Trail-beer {
	--use-image: url("../images/Baccalieu-Trail-beer.jpg");
	--citation-text: "Baccalieu Trail Brewing Company";
	--citation-full-URL: "https://www.facebook.com/baccalieutrailbrewco/photos/pb.100063474854869.-2207520000/2126946104082719/?type=3";
}

.Bannerman-Brewing-beer {
	--use-image: url("../images/Bannerman-Brewing-beer.jpg");
	--citation-text: "RyansBooze.com, D. Patrick Ryan";
	--citation-full-URL: "https://ryansbooze.com/2019/07/bannerman-brewing-co-thirst-trap-american-pale-ale-at-5-5-abv/";
}

.Bay-de-Verde-Brewing-beer {
	--use-image: url("../images/Bay-de-Verde-Brewing-beer.png");
	--citation-text: "Newfoundland & Labrador Tourism site, NL Tourism";
	--citation-full-URL: "https://www.newfoundlandlabrador.com/plan-and-book/attractions/36376363";
}

.beer-and-wood {
	--use-image: url("../images/beer-and-wood.jpg");
	--citation-text: "Marinara Market, Marinara Market";
	--citation-full-URL: "https://www.marinamarket.com/beverages/beer-wine/beer/";
}

.beer-bg {
	--use-image: url("../images/beer-bg.jpg");
	--citation-text: "Daily Hive, People's Pint Brewing Company";
	--citation-full-URL: "https://dailyhive.com/toronto/toronto-beer-week-events-2017";
}

.Belinda-Callahan {
	--use-image: url("../images/Belinda-Callahan.jpg");
	--citation-text: "Instagram, Sarah Simon-Blum";
	--citation-full-URL: "https://www.instagram.com/p/CrTmebOunJl/";
}

.camera {
	--use-image: url("../images/icons/camera.png");
	--citation-text: "Flaticon.com, Flaticon/Good Ware";
	--citation-full-URL: "https://www.flaticon.com/free-icon/camera_685655?term=camera&page=1&position=2&origin=tag&related_id=685655";
}

.clink {
	--use-image: url("../images/clink.png");
	--citation-text: "Bottleneck Management";
	--citation-full-URL: "https://www.bottleneckmgmt.com/blog/types-of-beer-glasses/";
}

.Clive-Standish {
	--use-image: url("../images/Clive-Standish.jpg");
	--citation-text: "Daily Mail UK, Ewan Galvin/Solent News";
	--citation-full-URL: "https://www.dailymail.co.uk/news/article-10676691/Multi-millionaire-investment-banker-estranged-wife-lock-horns-High-Court-battle.html";
}

.closeX {
	--use-image: url("../images/icons/closeX.png");
	--citation-text: "Flaticon.com, Flaticon/bsd";
	--citation-full-URL: "https://www.flaticon.com/free-icon/cross_8867444?term=close+button&page=1&position=22&origin=tag&related_id=8867444";
}

.cod-interstitial {
	--use-image: url("../images/day-fishing.jpg");
	--citation-text: "YouTube, So Cal Jigging with Johnny";
	--citation-full-URL: "https://www.youtube.com/watch?v=a54pw6_f2QU";
}

.cod-jigging07 {
	--use-image: url("../images/codjigging07.webp");
	--citation-text: "Margaree Outfitters, Margaree Outfitters";
	--citation-full-URL: "https://www.margareeoutfitters.ca/cod-jigging-tours/";
}

.cod-kissing {
	--use-image: url("../images/cod-kissing.jpg");
	--citation-text: "Backpack with Brock, Brock";
	--citation-full-URL: "https://www.backpackwithbrock.com/newfoundland-canada-road-trip-cod-jigging-kissing-fishing/";
}

.cod-meal-slide1 {
	--use-image: url("../images/cod-meal-slide1.jpg");
	--citation-text: "Canadian Cooking Adventures, Jacqueline";
	--citation-full-URL: "https://canadiancookingadventures.com/recipe/newfoundland-cod-au-gratin/";
}

.cod-meal-slide2 {
	--use-image: url("../images/cod-meal-slide2.jpg");
	--citation-text: "A Cook's Life, K C Bowie";
	--citation-full-URL: "https://yourthunderbuddy.com/recreational-fishing-newfoundland-2020/";
}

.cod-meal-slide3 {
	--use-image: url("../images/cod-meal-slide3.jpg");
	--citation-text: "The Globe and Mail, Karen Pinchin";
	--citation-full-URL: "https://www.theglobeandmail.com/life/summer-living/mallard-cottage-the-flavours-are-rock-solid/article13377422/";
}

.cod-slide1 {
	--use-image: url("../images/cod-slide1.jpg");
	--citation-text: "Pinterest, Naturally Nicole";
	--citation-full-URL: "https://www.pinterest.ca/pin/408772103649020914/";
}

.cod-slide2 {
	--use-image: url("../images/cod-slide2.webp");
	--citation-text: "sywolfhound.com, Steven and Louise";
	--citation-full-URL: "https://www.sywolfhound.com/single-post/2017/09/14/discovering-lunenburg-cod-jigging";
}

.cod-slide3 {
	--use-image: url("../images/cod-slide3.jpg");
	--citation-text: "Scott McGuire";
	--citation-full-URL: "http://scottmcguire.com/newfoundland/newf04.html";
}

.culture-package-bg {
	--use-image: url("../images/culture-package-bg.jpg");
	--citation-text: "Trip Advisor, Johnson Geo Centre";
	--citation-full-URL: "https://www.tripadvisor.pt/Attraction_Review-g154964-d278749-Reviews-Johnson_Geo_Centre-St_John_s_Newfoundland_Newfoundland_and_Labrador.html";
}

.culture-picnic-slide1 {
	--use-image: url("../images/culture-picnic-slide1.jpg");
	--citation-text: "Foodism";
	--citation-full-URL: "https://www.canadiantraveller.com/Newfoundland_Secret_Picnic_Points";
}

.culture-picnic-slide2 {
	--use-image: url("../images/culture-picnic-slide2.jpg");
	--citation-text: "Michelle B Fizzard";
	--citation-full-URL: "https://www.michellebfizzard.com/explore-newfoundland-ferryland-lighthouse-picnic/";
}

.culture-picnic-slide3 {
	--use-image: url("../images/culture-picnic-slide3.jpg");
	--citation-text: "Canadian Traveller, Zach Bonnell";
	--citation-full-URL: "https://www.canadiantraveller.com/Newfoundland_Secret_Picnic_Points";
}

.culture-picnic-slide4 {
	--use-image: url("../images/culture-picnic-slide4.jpg");
	--citation-text: "Pinterest, Patrick Derksen";
	--citation-full-URL: "https://www.pinterest.ca/pin/434456695296629753/";
}

.dark-mode-blue-sky {
	--use-image: url("../images/dark-mode-blue-sky.jpg");
	--citation-text: "Vecteezy, Tayyab Abbas";
	--citation-full-URL: "https://www.vecteezy.com/vector-art/8156936-blue-paper-cut-style-business-background-clouds";
}

.dark-mode-night-sky {
	--use-image: url("../images/dark-mode-night-sky.jpg");
	--citation-text: "Vecteezy, Oleg Gapeenko";
	--citation-full-URL: "https://www.vecteezy.com/vector-art/4491282-realistic-starry-sky-with-bright-stars-in-the-night-sky-vector-illustration";
}

.Dildo-Brewing-beer {
	--use-image: url("../images/Dildo-Brewing-beer.jpg");
	--citation-text: "Suitcase and Heels, Melissa Hogan";
	--citation-full-URL: "https://suitcaseandheels.com/guide-newfoundland-breweries/";
}

.facebook {
	--use-image: url("../images/icons/facebook.png");
	--citation-text: "Flaticon.com, Flaticon/Pixel Perfect";
	--citation-full-URL: "https://www.flaticon.com/free-icon/facebook_733603";
}

.Ferryland-approach {
	--use-image: url("../images/Ferryland-approach.jpg");
	--citation-text: "Lighthouse Picnics";
	--citation-full-URL: "https://lighthousepicnics.ca/about-us/";
}

.Ferryland-iceberg {
	--use-image: url("../images/Ferryland-iceberg.jpg");
	--citation-text: "JoeMonster.org";
	--citation-full-URL: "https://joemonster.org/art/39473/U_wybrzezy_Kanady_pojawila_sie_gora_lodowa_wysokosci_15_pieter";
}

.Ferryland-lighthouse {
	--use-image: url("../images/Ferryland-lighthouse.jpg");
	--citation-text: "Pinterest, ???";
	--citation-full-URL: "https://www.pinterest.com/pin/391039180119133763/";
}

.Ferryland-picnic {
	--use-image: url("../images/Ferryland-picnic2.jpg");
	--citation-text: "Lighthouse Picnics";
	--citation-full-URL: "https://lighthousepicnics.ca/about-us/";
}

.Ferryland-picnic1 {
	--use-image: url("../images/Ferryland-picnic1.jpg");
	--citation-text: "Trip Advisor, StormsEnd";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d660622-Reviews-Lighthouse_Picnics-Ferryland_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/660622/631269001:p/?albumid=-160&type=0&category=-160";
}

.Ferryland-picnic3 {
	--use-image: url("../images/Ferryland-picnic3.jpg");
	--citation-text: "Lighthouse Picnics";
	--citation-full-URL: "https://lighthousepicnics.ca/menu/";
}

.Ferryland-wide-view {
	--use-image: url("../images/Ferryland-wide-view.jpg");
	--citation-text: "Trip Advisor, Trib21";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1453750-d648416-Reviews-Ferryland-Ferryland_Newfoundland_Newfoundland_and_Labrador.html";
}

.fishbg {
	--use-image: url("../images/fishbg-light.jpg");
	--citation-text: "Hakai Magazine, Alex Mustard";
	--citation-full-URL: "https://hakaimagazine.com/features/fish-feel-pain-now-what/";
}

.fishhead {
	--use-image: url("../images/fishhead-light.jpg");
	--citation-text: "Hakai Magazine, Juniors Bildarchiv GmbH";
	--citation-full-URL: "https://hakaimagazine.com/features/fish-feel-pain-now-what/";
}

.Gary-Xandier {
	--use-image: url("../images/Gary-Xandier.jpg");
	--citation-text: "Beauty and the Beast 1987, Paramount?";
	--citation-full-URL: "https://www.pinterest.ca/pin/811773901570938316/";
}

.hamburger {
	--use-image: url("../images/icons/hamburger.png");
	--citation-text: "Flaticon.com, Flaticon/See Icons";
	--citation-full-URL: "https://www.flaticon.com/free-icon/menus_10486773";
}

.happy-whale {
	--use-image: url("../images/icons/happy-whale.png");
	--citation-text: "Vecteezy, Nawaz Sharif";
	--citation-full-URL: "https://www.vecteezy.com/vector-art/12097626-cute-blue-whale-jumping-humpback-happy-isolated-cartoon-animal-illustration-flat-style-sticker-icon-design-premium-logo-vector-mascot-character";
}

.hiking3 {
	--use-image: url("../images/hiking3.jpg");
	--citation-text: "East Coast Trail, Greg Locke";
	--citation-full-URL: "";
}

.hiking5 {
	--use-image: url("../images/hiking5.jpg");
	--citation-text: "East Coast Trail, Calvin Tong";
	--citation-full-URL: "";
}

.hiking-bg2 {
	--use-image: url("../images/hiking-bg2.jpg");
	--citation-text: "Hike Bike Travel, Leigh McAdam";
	--citation-full-URL: "https://hikebiketravel.com/east-coast-trail/";
}

.hiking-boots {
	--use-image: url("../images/hiking-boots-light.jpg");
	--citation-text: "Switchback Travel";
	--citation-full-URL: "https://www.switchbacktravel.com/reviews/oboz-sawtooth-ii-mid-waterproof";
}

.Humphrey-Geller {
	--use-image: url("../images/Humphrey-Geller.jpg");
	--citation-text: "He Who Fights with Monsters fandom, Uncredited Artist";
	--citation-full-URL: "https://static.wikia.nocookie.net/he-who-fights-with-monsters/images/9/90/Humphrey_Geller_AI.jpg/revision/latest?cb=20230324102355";
}

.index-video-poster {
	--use-image: url("../video/index-video-poster.png");
	--citation-text: "";
	--citation-full-URL: "";
}

.instagram {
	--use-image: url("../images/icons/instagram.png");
	--citation-text: "Flaticon.com, Flaticon/Freepik";
	--citation-full-URL: "https://www.flaticon.com/free-icon/instagram_1384015";
}

.Jason-Asano {
	--use-image: url("../images/Jason-Asano.jpg");
	--citation-text: "Deviant Art, Friby @ deviantart";
	--citation-full-URL: "https://www.deviantart.com/friby/art/Jason-Asano-925374871";
}

.Johnson-Geo-Centre {
	--use-image: url("../images/Johnson-Geo-Centre.jpg");
	--citation-text: "Atlantic Canada Cruise Association";
	--citation-full-URL: "https://www.cruiseatlanticcanada.com/newfoundland-labrador/st-johns/";
}

.Johnson-Geo-Centre-slide1 {
	--use-image: url("../images/Johnson-Geo-Centre-slide1.avif");
	--citation-text: "CBC, Mark Quinn";
	--citation-full-URL: "https://www.cbc.ca/nl/blogs/seen/IMG00205.jpg";
}

.Johnson-Geo-Centre-slide2 {
	--use-image: url("../images/Johnson-Geo-Centre-slide2.jpg");
	--citation-text: "Trip Advisor, Johnson Geo Centre";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g154964-d278749-Reviews-Johnson_Geo_Centre-St_John_s_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/278749/37194082:p/?albumid=-160&type=0&category=-160";
}

.Johnson-Geo-Centre-slide3 {
	--use-image: url("../images/Johnson-Geo-Centre-slide3.jpg");
	--citation-text: "Trip Advisor, Johnson Geo Centre";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g154964-d278749-Reviews-Johnson_Geo_Centre-St_John_s_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/278749/37194082:p/?albumid=-160&type=0&category=-160";
}

.Johnson-Geo-Centre-slide4 {
	--use-image: url("../images/Johnson-Geo-Centre-slide4.jpg");
	--citation-text: "Johnson Geo Centre";
	--citation-full-URL: "https://www.thecrazytourist.com/15-best-things-to-do-in-st-johns-newfoundland-and-labrador-canada/";
}

.La-Manche1 {
	--use-image: url("../images/La-Manche1.jpg");
	--citation-text: "Hike Bike Travel, Leigh McAdam";
	--citation-full-URL: "https://hikebiketravel.com/east-coast-trail/";
}

.La-Manche2 {
	--use-image: url("../images/La-Manche2.jpg");
	--citation-text: "Hike Bike Travel, Leigh McAdam";
	--citation-full-URL: "https://hikebiketravel.com/east-coast-trail/";
}

.La-Manche3 {
	--use-image: url("../images/La-Manche3.png");
	--citation-text: "East Coast Trail, Susan-Haskell";
	--citation-full-URL: "https://eastcoasttrail.com/choose-a-path/listing/17-la-manche-village-path/";
}

.La-Manche4 {
	--use-image: url("../images/La-Manche4.webp");
	--citation-text: "AllTrails.com, Michael Parkes";
	--citation-full-URL: "https://www.alltrails.com/trail/canada/newfoundland-and-labrador/east-coast-trail-la-manche-section/photos";
}

.La-Manche5 {
	--use-image: url("../images/La-Manche5.jpg");
	--citation-text: "AllTrails.com, Julie Roberge";
	--citation-full-URL: "https://www.alltrails.com/trail/canada/newfoundland-and-labrador/east-coast-trail-la-manche-section/photos";
}

.La-Manche6 {
	--use-image: url("../images/La-Manche6.jpg");
	--citation-text: "AllTrails.com, Melanie Champion";
	--citation-full-URL: "https://www.alltrails.com/trail/canada/newfoundland-and-labrador/east-coast-trail-la-manche-section/photos";
}

.La-Manche7 {
	--use-image: url("../images/La-Manche7.jpg");
	--citation-text: "AllTrails.com, Bradley Ball";
	--citation-full-URL: "https://www.alltrails.com/trail/canada/newfoundland-and-labrador/east-coast-trail-la-manche-section/photos";
}

.La-Manche8 {
	--use-image: url("../images/La-Manche8.jpg");
	--citation-text: "AllTrails.com, Denys Reznichenko";
	--citation-full-URL: "https://www.alltrails.com/trail/canada/newfoundland-and-labrador/east-coast-trail-la-manche-section/photos";
}

.La-Manche9 {
	--use-image: url("../images/La-Manche9.jpg");
	--citation-text: "Trip Advisor, HDC";
	--citation-full-URL: "https://www.tripadvisor.com/Attraction_Review-g6484032-d7340606-Reviews-La_Manche_Provincial_Park-Tors_Cove_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/7340606/319470114:p/?albumid=-160&type=0&category=-160";
}

.La-Manche10 {
	--use-image: url("../images/La-Manche10.jpg");
	--citation-text: "Trip Advisor, Peter K";
	--citation-full-URL: "https://www.tripadvisor.com/Attraction_Review-g6484032-d7340606-Reviews-La_Manche_Provincial_Park-Tors_Cove_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/7340606/319470114:p/?albumid=-160&type=0&category=-160";
}

.La-Manche11 {
	--use-image: url("../images/La-Manche11.jpg");
	--citation-text: "Trip Advisor, Frederic B";
	--citation-full-URL: "https://www.tripadvisor.com/Attraction_Review-g6484032-d7340606-Reviews-La_Manche_Provincial_Park-Tors_Cove_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/7340606/319470114:p/?albumid=-160&type=0&category=-160";
}

.Landwash-Brewery-beer {
	--use-image: url("../images/Landwash-Brewery-beer.jpg");
	--citation-text: "Landwash-Brewery";
	--citation-full-URL: "https://www.facebook.com/photo.php?fbid=734283658307749&set=pb.100051783643176.-2207520000&type=3";
}

.logo-main {
	--use-image: url("../images/logos/Avalon-Adventures-Transparent.png");
	--citation-text: "";
	--citation-full-URL: "";
}

.mailboxes {
	--use-image: url("../images/mailboxes.jpg");
	--citation-text: "Pinterest, Lisa Peyton";
	--citation-full-URL: "https://www.pinterest.ca/lfp4/newfoundland/";
}

.media-citation {
	width: 28%;
	min-width: 15vw;
}

.Neil-Davone {
	--use-image: url("../images/Neil-Davone.jpg");
	--citation-text: "He Who Fights with Monsters fandom, AI-generated";
	--citation-full-URL: "https://he-who-fights-with-monsters.fandom.com/wiki/Neil_Davone";
}

.Ninepenny-Brewing-beer {
	--use-image: url("../images/Ninepenny-Brewing-beer.jpg");
	--citation-text: "Ninepenny-Brewing";
	--citation-full-URL: "https://ninepennybrewing.ca/";
}

.Quidi-Vidi-beer {
	--use-image: url("../images/Quidi-Vidi-beer.jpg");
	--citation-text: "Suitcase and Heels, Melissa Hogan";
	--citation-full-URL: "https://suitcaseandheels.com/guide-newfoundland-breweries/";
}

.Rufus-Remore {
	--use-image: url("../images/Rufus-Remore.webp");
	--citation-text: "He Who Fights with Monsters fandom, AI-generated";
	--citation-full-URL: "https://he-who-fights-with-monsters.fandom.com/wiki/Rufus_Remore";
}

.scroll-arrow {
	--use-image: url("../images/icons/scroll-arrow.png");
	--citation-text: "Flaticon.com, Flaticon/Freepik";
	--citation-full-URL: "https://www.flaticon.com/free-icon/scroll-down-arrow_2117";
}

.scroll-arrow-up {
	--use-image: url("../images/icons/scroll-arrow.png");
	transform: rotate(180deg);
	--citation-text: "Flaticon.com, Flaticon/Freepik";
	--citation-full-URL: "https://www.flaticon.com/free-icon/scroll-down-arrow_2117";
}

.Signal-Hill {
	--use-image: url("../images/Signal-Hill.jpg");
	--citation-text: "Amusing Planet, Michel Rathwell";
	--citation-full-URL: "https://www.amusingplanet.com/2017/09/signal-hill-birthplace-of-modern.html";
}

.Sophie-Wexler {
	--use-image: url("../images/Sophie-Wexler.jpg");
	--citation-text: "Reddit, AI-generated";
	--citation-full-URL: "https://www.reddit.com/r/StableDiffusion/comments/zwcklt/comment/jgbzm3p/?utm_source=reddit&utm_medium=web2x&context=3";
}

.St-Johns-bg {
	--use-image: url("../images/St-Johns-bg.jpg");
	--citation-text: "Newfoundland & Labrador Tourism site, NL Tourism";
	--citation-full-URL: "https://www.newfoundlandlabrador.com/trip-ideas/travel-stories/signal-hill-national-historic-site";
}

.St-Johns-harbour {
	--use-image: url("../images/St-Johns-harbour.jpg");
	--citation-text: "douglas.stebila.ca, Douglas Stebila";
	--citation-full-URL: "https://www.douglas.stebila.ca/pictures/2016-newfoundland/";
}

.the-Battery {
	--use-image: url("../images/the-Battery.jpg");
	--citation-text: "";
	--citation-full-URL: "";
}

.the-Rooms {
	--use-image: url("../images/the-Rooms.jpg");
	--citation-text: "Flickr, Lydon Keating";
	--citation-full-URL: "https://www.flickr.com/photos/28023748@N07/4921538549/";
}

.the-Rooms-slide1 {
	--use-image: url("../images/4-connectionsgallery.jpg");
	--citation-text: "The Rooms";
	--citation-full-URL: "https://www.therooms.ca/exhibits/always/connections-this-place-and-its-early-peoples";
}

.the-Rooms-slide2 {
	--use-image: url("../images/2-fantastic-finds.jpg");
	--citation-text: "The Rooms";
	--citation-full-URL: "https://www.therooms.ca/exhibits/now/fantastic-finds-archaeology-in-newfoundland-and-labrador";
}

.the-Rooms-slide3 {
	--use-image: url("../images/3-lighthouse.jpg");
	--citation-text: "The Rooms";
	--citation-full-URL: "https://www.therooms.ca/exhibits/now/lighting-the-way-newfoundland-and-labrador-lighthouses";
}

.the-Rooms-slide4 {
	--use-image: url("../images/visitorinfo_header.jpg");
	--citation-text: "The Rooms";
	--citation-full-URL: "https://www.therooms.ca/volunteer";
}

.Tinkers-Point1 {
	--use-image: url("../images/Tinkers-Point1.png");
	--citation-text: "East Coast Trail, Julia";
	--citation-full-URL: "https://eastcoasttrail.com/choose-a-path/listing/16-tinkers-point-path/";
}

.Tinkers-Point2 {
	--use-image: url("../images/Tinkers-Point2.jpg");
	--citation-text: "hikingnewfoundland.gerryryall.ca, Gerry Ryall";
	--citation-full-URL: "http://hikingnewfoundland.gerryryall.ca/tinkers-point-path/#jp-carousel-334";
}

.Tinkers-Point3 {
	--use-image: url("../images/Tinkers-Point3.jpg");
	--citation-text: "hikingnewfoundland.gerryryall.ca, Gerry Ryall";
	--citation-full-URL: "http://hikingnewfoundland.gerryryall.ca/tinkers-point-path/#jp-carousel-341";
}

.Tinkers-Point4 {
	--use-image: url("../images/Tinkers-Point4.jpg");
	--citation-text: "hikingnewfoundland.gerryryall.ca, Gerry Ryall";
	--citation-full-URL: "http://hikingnewfoundland.gerryryall.ca/tinkers-point-path/#jp-carousel-352";
}

.Tinkers-Point5 {
	--use-image: url("../images/Tinkers-Point5.jpg");
	--citation-text: "hikingnewfoundland.gerryryall.ca, Gerry Ryall";
	--citation-full-URL: "http://hikingnewfoundland.gerryryall.ca/tinkers-point-path/#jp-carousel-354";
}

.Tinkers-Point6 {
	--use-image: url("../images/Tinkers-Point6.jpg");
	--citation-text: "Wordpress, Newfoundsander";
	--citation-full-URL: "https://newfoundsander.wordpress.com/2018/07/11/puffin-watching-from-the-east-coast-trail/";
}

.Tinkers-Point-Path-map {
	--use-image: url("../images/Tinkers-Point-Path-map.png");
	--citation-text: "East Coast Trail, Open Street Map";
	--citation-full-URL: "https://eastcoasttrail.com/choose-a-path/listing/16-tinkers-point-path/";
}

.Tinkers-Point-trailhead {
	--use-image: url("../images/Tinkers-Point-trailhead.jpg");
	--citation-text: "Gerry Ryall";
	--citation-full-URL: "https://hiketheeastcoasttrail.files.wordpress.com/2013/07/edit_46401.jpg";
}

.whale-breaching {
	--use-image: url("../images/whale-breaching.jpg");
	--citation-text: "Official NL site, Newfoundland & Labrador Tourism";
	--citation-full-URL: "";
}

.whale-cod-poster {
	--use-image: url("../video/whale-cod-poster.png");
	--citation-text: "Official NL site, Newfoundland & Labrador Tourism";
	--citation-full-URL: "";
}

.whale-slide1 {
	--use-image: url("../images/whale-slide1.jpg");
	--citation-text: "Trip Advisor, Sea of Whales Adventures";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g499208-d1536457-Reviews-Sea_of_Whales_Adventures-Trinity_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/1536457/47553220:p/?albumid=-160&type=0&category=-160";
}

.whale-slide2 {
	--use-image: url("../images/whale-slide2.jpg");
	--citation-text: "Gatherall's Puffin and Whale Watch";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g1746077-d1594636-Reviews-Gatherall_s_Puffin_and_Whale_Watch-Bay_Bulls_Newfoundland_Newfoundland_and_Labra.html#/media-atf/1594636/319206186:p/?albumid=-160&type=0&category=-160";
}

.whale-slide3 {
	--use-image: url("../images/whale-slide3.jpg");
	--citation-text: "Trip Advisor, @618jr";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g499208-d1536457-Reviews-Sea_of_Whales_Adventures-Trinity_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/1536457/47553220:p/?albumid=-160&type=0&category=-160";
}

.whale-slide4 {
	--use-image: url("../images/whale-slide4.jpg");
	--citation-text: "Trip Advisor, Sea of Whales Adventures";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g499208-d1536457-Reviews-Sea_of_Whales_Adventures-Trinity_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/1536457/47553220:p/?albumid=-160&type=0&category=-160";
}

.Yellowbelly-beer {
	--use-image: url("../images/Yellowbelly-Brewery-beer.jpg");
	--citation-text: "Yellowbelly Brewery";
	--citation-full-URL: "https://www.yellowbellybrewery.com/wp-content/uploads/2021/07/yellowbelly-brewery-pub-floor.jpg";
}

.youtube {
	--use-image: url("../images/icons/youtube.png");
	--citation-text: "Flaticon.com, Flaticon/riajulislam";
	--citation-full-URL: "https://www.flaticon.com/free-icon/youtube_4494467";
}

/*	------------------------------------------------------------
	Source videos used to contruct the videos shown on the site,
	but not shown in their original format...
	------------------------------------------------------------ */

	.Johnson-Geo-Centre-source-video {
		--use-image: url("http://i.ytimg.com/vi/F-jlhLeikro/maxresdefault.jpg");
		--citation-text: "Youtube, Everyday Adventures";
		--citation-full-URL: "https://www.youtube.com/watch?v=F-jlhLeikro";
	}
	
	.Ferryland-source-video {
		--use-image: url("http://i.ytimg.com/vi/kuldcEfnnBA/maxresdefault.jpg");
		--citation-text: "Youtube, Lighthouse Picnics";
		--citation-full-URL: "https://www.youtube.com/watch?v=kuldcEfnnBA";
	}

	.icebergs-whales-source-video {
		--use-image: url("http://i.ytimg.com/vi/5EfDz1jO5qM/maxresdefault.jpg");
		--citation-text: "Youtube, Northland Discovery Boat Tours";
		--citation-full-URL: "https://www.youtube.com/watch?v=5EfDz1jO5qM";
	}
	
	.RMR-source-video {
		--use-image: url("http://i.ytimg.com/vi/BJlHTTQ-3fA/maxresdefault.jpg");
		--citation-text: "Youtube, CBC/Mercer Report";
		--citation-full-URL: "https://www.youtube.com/watch?v=BJlHTTQ-3fA";
	}
	
	.RMR2-source-video {
		--use-image: url("http://i.ytimg.com/vi/yPllnFhcMpc/maxresdefault.jpg");
		--citation-text: "Youtube, CBC/Mercer Report";
		--citation-full-URL: "https://www.youtube.com/watch?v=yPllnFhcMpc";
	}
	
	.Tinkers-Point-source-video {
		--use-image: url("http://i.ytimg.com/vi/4tg_zK0rAL0/maxresdefault.jpg");
		--citation-text: "Youtube, East Coast Views";
		--citation-full-URL: "https://www.youtube.com/watch?v=4tg_zK0rAL0";
	}
	
	.whales-source-video {
		--use-image: url("http://i.ytimg.com/vi/WXlG2pGM6d8/maxresdefault.jpg");
		--citation-text: "Youtube, Newfoundland & Labrador Tourism";
		--citation-full-URL: "https://www.youtube.com/watch?v=WXlG2pGM6d8";
	}
		