/*  ------------------------------------------------
    Changes for mobile devices, user prefs, etc....\
	------------------------------------------------
	Common device screen sizes:
    <=	480px:   mobile devices
    <=	768px:   tablets, iPads
    <=	1024px:  laptops, smaller screens
    <=	1200px:  desktops, larger screens
    >	1200px:  TVs, huge screens
    ------------------------------------- */

@media screen and (max-width: 600px) {

	/*	-----------
	Elements...
	----------- */

	:root {
		--font-size-large: 1rem;
		--font-size-xlarge: 1rem;
		--main-content-width: 90vw;

		/*	Note: the --show-videos boolean is used by JavaScript to disable
    		videos for smaller devices... */
		--show-videos: 0;
	}

	body {
		--header-height: 8vh;
	}

	header {
		background-color: rgba(var(--bg-colour-RGB), 0.3);
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		transition: background-color var(--transition-duration-short);
	}

	h1 {
		left: 0;
		padding-left: 1rem;
	}

	h3 {
		font-size: var(--font-size-huge);
		line-height: var(--line-height-huge);
		margin: var(--font-margin-huge);
		padding-bottom: 1rem;
	}

	h4 {
		padding-bottom: 1rem;
	}

	section {
		margin-top: 3vh;
	}

	/*	------
		IDs...
		------ */

	#addresses {
		flex-flow: column;
		align-items: center;
		gap: 1vh;
	}

	#footer-fair-dealing {
		text-align: center;
	}

	#dark-mode-toggle-container {
		display: none;
	}

	#hamburger-menu {
		align-self: start;
		transform: translate(0, 50%);
		opacity: 1;
		pointer-events: auto;
	}

	#header-logo {
		align-self: start;
		transform: translate(0, 0);
		scale: 1;
	}

	#header-logo:hover {
		scale: 1.5;
		transform-origin: 0% 0%;
	}

	#main-nav {
		display: none;
		height: 100%;
		top: calc(var(--header-height) * 1.5);
		left: 0;
		translate: none;
		font-size: var(--font-size-large);
		text-align: left;
		margin-left: -5vw;
	}

	#main-nav li {
		width: 100%;
		margin-bottom: 2vh;
	}

	#main-nav a {
		display: inline;
	}

	#main-nav>li {
		text-decoration: none;
	}

	#main-nav li>a:not(:only-child):after {
		content: "";
	}

	#main-nav ul {
		display: block;
		position: relative;
		top: auto;
		margin-top: 3vh;
		list-style: circle inside;
	}

	#main-nav ul li {
		background-color: transparent;
		width: 100%;
		display: list-item;
		box-shadow: none;
		margin-bottom: 3vh;
	}

	#main-nav>li>a>span,
	#main-nav>li>a:hover>span {
		text-decoration: none;
	}

	#scroll-buttons {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		gap: 5vw;
		justify-content: center;
		place-items: center;
	}

	#social-media {
		width: 94%;
		margin-left: 2%;
		background-color: rgba(var(--bg-colour-RGB), .9);
		display: flex;
		flex-flow: column wrap;
	}

	#social-media * {
		margin: .75vh 0;
	}

	/*	----------
	Classes...
	---------- */

	.album a {
		width: 98%;
		min-width: 98%;
	}

	.blankspace {
		height: 1vh;
		width: 2vw;
	}

	.brspace {
		display: inline;
	}

	.brspace::before {
		content: " ";
		white-space: pre;
	}

	.citation-watermark {
		font-size: var(--font-size-small);
	}

	.citation-watermark::before {
		height: 1rem;
		width: 1.5rem;
	}

	.dangling {
		animation: none;
		transition: none;
	}

	.detail-box,
	.detail-box:nth-of-type(2n) {
		border: none;
		width: 98%;
		display: block;
		padding: 1vh 0;
		margin-bottom: 5vh;
	}

	.detail-box p {
		padding: 0;
	}

	.detail-box span.polaroid,
	.detail-box:nth-of-type(2n) span.polaroid,
	.detail-box span.baroqueframe,
	.detail-box:nth-of-type(2n) span.baroqueframe,
	.detail-box span.woodframe,
	.detail-box:nth-of-type(2n) span.woodframe {
		width: 90%;
		max-width: 90%;
		padding: 0;
		margin: 1vh 0;
		transform: none;
		box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.3);

	}

	.detail-box span.baroqueframe,
	.detail-box:nth-of-type(2n) span.baroqueframe,
	.detail-box span.woodframe,
	.detail-box:nth-of-type(2n) span.woodframe {
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
		margin: 1.2rem 0;
	}

	.detail-box span.subheader,
	.detail-box:nth-of-type(2n) span.subheader {
		text-align: center;
	}

	.fixed-background {
		background: none;
	}

	.flexy {
		column-gap: 4vw;
	}

	.hero-grid {
		width: 96%;
		grid-template-columns: 1fr;
		margin: 0;
		row-gap: 10vh;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	
	.hero-novideo {
		display: block;
	}

	.hero-static {
		min-height: 60vh;
		border-image: var(--use-border-image);
		border-image-width: 2px 0;
	}

	.hero-video {
		display: none;
	}

	.media-citation {
		width: 90%;
		min-width: 50vw;
	}

	.mobile-never {
		display: none;
	}

	.mobile-only-block {
		display: block;
	}

	.newspaper-big {
		width: 100%;
		border: 0;
		padding: 0;
	}

	.newspaper-layout {
		width: 100%;
		display: flex;
		flex-flow: column-reverse wrap;
		border: none;
		row-gap: 2vh;
	}

	.newspaper-thin {
		display: none;
	}

	.one-column {
		width: 98%;
		margin-left: 0;
		padding: 0 1vh;
	}

	.paused {
		background: transparent;
	}

	.pic-plus-desc {
		width: 100%;
		display: block;
	}

	.pic-plus-desc-pic,
	.slides-plus-desc-pic {
		margin-bottom: .5rem;
	}

	.slide:not(.active) {
		opacity: 0;
	}

	.slides-plus-desc,
	.detail-box:nth-of-type(2n) .slides-plus-desc,
	.detail-box:nth-of-type(1n) .slides-plus-desc:nth-of-type(2n) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "pic pic pic" "desc desc desc" "slide1 slide2 slide3";
		grid-template-rows: auto;
	}

	.spacebr {
		background: transparent;
		content: "";
		display: block;
	}

	.spacebr::before {
		content: "";
	}

	.split-left {
		grid-area: single-screen;
		background-color: transparent;
		grid-template-rows: 9fr 1fr;
		z-index: 7;
	}

	/*	This relies on the :has pseudo-class, which Firefox does not currently support (Sep 2023). */
	.split-left:has(.split-bottom):has(div:nth-of-type(even).active) {
		background-color: var(--medium-colour2);
	}

	.split-right {
		grid-area: single-screen;
		height: 90%;
		place-self: top center;
		z-index: 6;
	}

	.split-screen {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "single-screen";
	}

	.subheader {
		font-size: var(--font-size-xlarge);
		border-top: solid;
	}

	.two-column {
		grid-template-columns: 1fr;
		row-gap: 0;
	}

	.two-column-container {
		width: 100%;
		padding: 0 2vw;
		border: none;
	}

	/*	Images better suited to mobile/portrait screens... */

	.Ferryland-picnic {
		--use-image: url("../images/Ferryland-picnic2-vertical.jpg");
		--citation-text: "Lavender and Lovage, Karen Burns-Booth";
		--citation-full-URL: "https://www.lavenderandlovage.com/2014/07/picnics-in-fairy-land-my-newfoundland-lighthouse-picnics-experience.html";
	}

	.index-video-poster, .whale-breaching, .whale-watching-poster {
		--use-image: url("../images/whale-watching-mobile.png");
		--citation-text: "Shutterstock";
		--citation-full-URL: "https://www.businessinsider.com/best-locations-whale-watching-us-2017-3";
	}

	.mailboxes {
		--use-image: url("../images/mailboxes-mobile.jpg");
		--citation-text: "Flickr, Darron Birgenheier";
		--citation-full-URL: "https://www.flickr.com/photos/darronb/8421272881/";
	}

	.whale-cod-poster {
		--use-image: url("../images/whale-breaching-vertical.jpg");
		--citation-text: "Rorqual.com";
		--citation-full-URL: "https://www.rorqual.com/english/our-whales/humpback-whale";
	}

}

@media screen and (max-width: 920px) {

	fieldset {
		width: 90%;
	}

	.polaroid {
		filter: none;
	}

	#contact .submit-confirm-para {
		scale: 1.25;
	}

}

@media screen and (orientation:landscape) and (max-width: 1000px) {

	#contact .submit-confirm-para {
		scale: 1;
	}

}


/*  -------------------
    User-preferences...
    ------------------- */

/*	--
	Dark mode:
	The hierarchy for when to go into "dark" mode is:
	(1)	User selected via the "dark-mode" input in the header (and stored for later via localstorage);
	(2)	System choice from the user's device;

	JS adds a "dark-mode-selected" class to :root when dark mode is preferred.

	Note that the dark-mode toggle is hidden on mobile devices; there, the site uses system settings only.
*/

/*	HTML elements, classes, etc. */

:root.dark-mode-selected {
	--bg-colour: var(--dark-colour);
	--bg-colour-RGB: var(--dark-colour-RGB);
	--text-colour: var(--light-text);
	--text-colour-RGB: var(--light-text-RGB);
	--use-text-shadow: none;
}

:root.dark-mode-selected blockquote {
	border-left: .25rem solid var(--light-colour);
}

:root.dark-mode-selected .media-link {
	filter: invert(1);
}

/*	Images: change light/bright images to darker options... */

:root.dark-mode-selected .beer-bg {
	--use-image: url("../images/beer-bottles5.jpg");
	--citation-text: "PxHere";
	--citation-full-URL: "https://pxhere.com/en/photo/1115051";
}

:root.dark-mode-selected .clink {
	--use-image: url("../images/clink-dark.jpg");
	--citation-text: "School of Booze";
	--citation-full-URL: "https://www.school-of-booze.com/product/online-beer-course-foundation-level/";
}


@media screen and (max-width: 600px) {
	:root.dark-mode-selected .clink {
		--use-image: url("../images/clink-dark-mobile.jpg");
		--citation-text: "Vinho dos Anjos";
		--citation-full-URL: "http://vinhodosanjos.com.br/2017/06/08/beer-rock-fest-festa-da-cerveja-com-open-bar-dia-08-de-julho/";
	}

	:root.dark-mode-selected .slide.clink {
		--use-image: url("../images/clink-dark-slide-mobile.jpg");
		--citation-text: "Trend Hunter";
		--citation-full-URL: "https://www.trendhunter.com/trends/wooden-beer-mug";
	}

}

:root.dark-mode-selected .cod-interstitial {
	--use-image: url("../images/night-fishing.jpg");
	--citation-text: "YouTube, Fishing with Nuno Morão";
	--citation-full-URL: "https://www.youtube.com/watch?v=ba7lIUkySH0";
}

:root.dark-mode-selected .culture-package-bg {
	--use-image: url("../images/culture-package-bg.jpg");
	--citation-text: "Olympic Construction Ltd";
	--citation-full-URL: "https://www.olympic-construction.nf.ca/project/the-rooms/";
}

:root.dark-mode-selected .Ferryland-lighthouse {
	--use-image: url("../images/Ferryland-lighthouse-dark.jpg");
	--citation-text: "Instagram, NL Tourism";
	--citation-full-URL: "https://www.instagram.com/p/CALXSA9lDeq/?igshid=3mmv2ppnpnic";
}

:root.dark-mode-selected .Ferryland-picnic {
	--use-image: url("../images/picnic-sunset.png");
	--citation-text: "Pinterest, Flare Magazine";
	--citation-full-URL: "https://www.pinterest.ca/pin/500814421034649789/";
}

:root.dark-mode-selected .fishbg {
	--use-image: url("../images/fishbg-dark.jpg");
	--citation-text: "Hakai Magazine, Lisa Werner";
	--citation-full-URL: "https://hakaimagazine.com/features/secret-history-bioluminescence/";
}

:root.dark-mode-selected .fishhead {
	--use-image: url("../images/fishhead-dark.jpg");
	--citation-text: "Hakai Magazine, blickwinkel";
	--citation-full-URL: "https://hakaimagazine.com/features/secret-history-bioluminescence/";
}

:root.dark-mode-selected .hiking-boots {
	--use-image: url("../images/hiking-boots-dark.jpg");
	--citation-text: "Super Shoes";
	--citation-full-URL: "https://www.supershoes.com/mens-hiking-boots-shoes?view_all";
}

:root.dark-mode-selected .Johnson-Geo-Centre {
	--use-image: url("../images/Johnson-Geo-Centre-dark.jpg");
	--citation-text: "Trip Advisor, Johnson Geo Centre";
	--citation-full-URL: "https://www.tripadvisor.ca/Attraction_Review-g154964-d278749-Reviews-Johnson_Geo_Centre-St_John_s_Newfoundland_Newfoundland_and_Labrador.html#/media-atf/278749/37194082:p/?albumid=-160&type=0&category=-160";
}

:root.dark-mode-selected .mailboxes {
	--use-image: url("../images/mailboxes-dark.jpg");
	--citation-text: "Flickr, Darron Birgenheier";
	--citation-full-URL: "https://www.flickr.com/photos/darronb/8421272881/";
}

@media screen and (max-width: 600px) {
	:root.dark-mode-selected .mailboxes {
		--use-image: url("../images/mailboxes-dark-mobile.jpg");
		--citation-text: "Flickr, Riles M";
		--citation-full-URL: "https://www.flickr.com/photos/79713023@N02/7795522702";
	}
}

:root.dark-mode-selected .Signal-Hill {
	--use-image: url("../images/Signal-Hill-dark.jpg");
	--citation-text: "Flickr, Rex Montalban Photography";
	--citation-full-URL: "https://flickr.com/photos/rexmontalban/7123724139";
}

:root.dark-mode-selected .St-Johns-harbour {
	--use-image: url("../images/St-Johns-harbour-dark.jpg");
	--citation-text: "CBC News, Gene Herzberg";
	--citation-full-URL: "https://www.cbc.ca/news/canada/newfoundland-labrador/gallery-week-november-30-1.5819766";
}

:root.dark-mode-selected .the-Battery {
	--use-image: url("../images/the-Battery-dark.avif");
	--citation-text: "CBC, Dan Arsenault";
	--citation-full-URL: "https://www.cbc.ca/news/canada/newfoundland-labrador/battery-lights-turned-off-1.6728439";
}

:root.dark-mode-selected .the-Rooms {
	--use-image: url("../images/the-Rooms-dark.jpg");
	--citation-text: "The Rooms";
	--citation-full-URL: "https://www.therooms.ca/about-us";
}



@media (prefers-reduced-motion) {

	:root {
		--transition-duration-short: 0s;
		/* other transition times are calc'd from this value... */
	}

	.dangling,
	.fade-in-up,
	.scroll-in,
	.wipe-in-bottom-right {
		animation: none;
		transition: none;
	}

}